build/
*.o
*.a
test_core
test_network
test_network.moc
dump_board
temp_files/
release/
*.exe
tools/
*.pdf
gen_one
gen_one.cpp
gen_previews
gen_previews.cpp
test_spinner
test_spinner2
test_pickup
test_spinner.cpp
test_spinner2.cpp
test_pickup.cpp
test_death*
test_resurrect*
test_grass*
test_fullmap*
.git/
